player-connection-mode=Listen
player-connection-guid=3326648028
player-connection-debug=0
player-connection-project-name=Fox survive
player-connection-ip=25.29.80.247
player-connection-ip=192.168.17.1
player-connection-ip=192.168.228.1
player-connection-ip=192.168.1.124
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
